*{
  margin: 0px;
  padding: 0px;
}
.navsec{
  background-color: #1F232C;
 
  width: 100%;
  
}

.nav-link{
     color:#ffffff !important;
     font-family: 'Montserrat', sans-serif;
     
}
.nav-link:hover{
  color: #F65A63 !important ;
}
.button{
 background-color: #F65A63; 
 border-radius: 30px; 
 font-family: 'Montserrat', sans-serif;
}

.button:hover{
  background-color: #1F232C;
  color: #ffffff!important;
}


.signin{
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

.para-1{
  text-align: left;
  margin-top:20px;
}

.banner{
    background:url(../f/banner-1-1.jpg)fixed center/cover no-repeat;
    width: 100%;
    height: 900px;
}

.text{
  margin-top:120px !important;
  color:#ffffff !important;
  font-family:  'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size:60px;
  
}
.success{
  color: #F65A63;
  display: inline-flex;
  font-weight: bolder;
}

.box-1{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  
}

/* .about-picture {
  background: url(../f/banner-1.jpg)no-repeat;
  height: 330px;
} */
.background{
background-color:#F8F9FA;
}
.service{
  color: red;
}
.about-picture{
  background:url(../f/left-image-8.jpg)fixed center/cover no-repeat ;
  height:100vh;
  
}
.about-text{
  background-color: #1F232C;
}
section.pricing {
  margin-top: 50px;
  background: #1F232C;
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}
.price_button{
  background-color: #F65A63;
}
.price_button:hover{
  background-color: #1F232C !important;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 100%;
  }
}

.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  /* font-weight: bold; */
  font-size: 30px;
  margin-top: 34px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 100%;
}
.rounded-circle{
 width: 50%;
}
.button-read:hover{
 background-color: #1F232C !important;
 color: white !important;
}


.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 20%;
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -20%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
.copy-back{
  background-color: #1F232C;
  height: 100px;
}
.copy-front{
  font-family: 'Montserrat', sans-serif; 
  color: rgb(255, 255, 255);
  margin-top: 20px;
}